{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container mt-5" style="max-width: 720px">

        <h2 class="mb-4 text-center">Mon profil</h2>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <div class="card shadow-sm">
            <div class="card-body">

                <div class="text-center mb-3">
                    <img
                            src="{{ app.user.photoFilename
                            ? asset('uploads/profiles/' ~ app.user.photoFilename)
                            : asset('images/avatar-default.png')
                            }}"
                            alt="Photo profil"
                            style="width:150px; height:150px; object-fit:cover; border-radius:50%;">
                </div>

                {{ form_start(form) }}

                <div class="row g-3">
                    <div class="col-md-6">
                        {{ form_row(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.name, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="col-12">
                        {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.telephone, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="col-12">
                        {{ form_row(form.campus, { 'attr': {'class': 'form-select'} }) }}
                    </div>

                    <div class="col-12">
    {{ form_row(form.photo, { 'attr': {'class': 'form-control'} }) }}
</div>


                    <div class="col-12">
                        {{ form_row(form.plainPassword, { 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>

                <div class="d-grid mt-4">
                    <button class="btn btn-primary btn-lg">
                        Enregistrer
                    </button>
                </div>

                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}
