{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}


{% block stylesheets %}
    <style>
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .topbar {
            text-align: right;
        }
        body {
            background-color: #fff;
            font-family: 'Segoe UI', Arial, sans-serif;
            padding: 20px;
        }
        body {
            font-family: 'Segoe UI', Arial, sans-serif;
        }

        form .btn {
            display:block;
            margin:0 auto;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Modification d'utilisateur</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin_user_list') }}">Utilisateurs</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier</li>
        </ol>
    </nav>

    <div>
        {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
        <button type="submit" class="btn btn-success">S’inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}