{% extends 'base.html.twig' %}

{% block title %}Profil - {{ participant.firstname }} {{ participant.name }}{% endblock %}

{% block body %}
    <main class="container">
        <p><a href="{{ path('sortie_list') }}">← Retour aux sorties</a></p>

        <h1>Profil de {{ participant.firstname }} {{ participant.name }}</h1>

        <div class="card">
            <dl class="dl">
                <img
                        src="{{ participant.photoFilename
                        ? asset('uploads/profiles/' ~ participant.photoFilename)
                        : asset('img/defaultAvatar.jpg')
                        }}"
                        alt="Photo de profil"
                        style="width:150px; height:150px; object-fit:cover; border-radius:50%;"
                >

                <div><dt>Prénom</dt><dd>{{ participant.firstname ?? '-' }}</dd></div>
                <div><dt>Nom</dt><dd>{{ participant.name ?? '-' }}</dd></div>
                <div><dt>Email</dt><dd>{{ participant.email ?? '-' }}</dd></div>
                <div><dt>Téléphone</dt><dd>{{ participant.telephone ?? '-' }}</dd></div>
                <div><dt>Campus</dt><dd>{{ participant.campus.name ?? participant.campus ?? '-' }}</dd></div>
            </dl>
        </div>
    </main>
{% endblock %}
