{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .topbar {
            text-align: right;
        }
        body {
            background-color: #fff;
            font-family: 'Segoe UI', Arial, sans-serif;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        table th, table td {
            border:1px solid #0a0a0a;
            padding:5px;
            text-align: center;
        }
        th {
            background-color:gray;
        }
        .btn {
            padding:10px;
            display:inline-block;
            text-decoration: none;
            background-color: green;
            border-radius: 5px;
            color:white;
        }
        .add-div {
            margin-bottom: 20px;
            text-align: right;
        }
        .filter-div {
            display:flex;
            justify-content: space-between;
            margin-bottom:10px;
        }
    </style>
{% endblock %}

{% block body %}
    <div>
        <h1>Liste des villes</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Villes</li>
            </ol>
        </nav>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <form class="filter-div">
            <label>Le nom contient :
                <input type="text" name="q" {% if  app.request.query.get('q') is defined %}value="{{ app.request.query.get('q') }}"
                {% endif %}></label>
            <button type="submit" class="btn btn-sm btn-outline-primary">Rechercher</button>
{#            <a href="{{ path('app_admin_ville_create') }}" class="btn btn-secondary">Ajouter une nouvelle ville</a>#}
        </form>
        <table>
            <thead>
            <th>Id</th>
            <th>Ville</th>
            <th>Code postale</th>
            <th>Action</th>
            </thead>
            <tbody>


            {% for ville in villes %}
                <tr>
                    <td>{{ ville.id }}</td>
                    <td>{{ ville.name }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="{{ path('app_admin_ville_update', {'id': ville.id}) }}">Modifier</a>
                        <button class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"  data-bs-target="#confirmDeleteModal"
                                data-id="{{ ville.id }}"
                                data-url="{{ path('app_admin_ville_delete', { id: ville.id }) }}"
                                data-token="{{ csrf_token('delete' ~ ville.id) }}">Supprimer
                        </button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input id="input-table-name"</td>
                <td><input id="input-table-cp" type="text"></td>
                <td>
                    <button class="btn btn-sm btn-secondary" type="submit" id="table-btn-submit">Ajouter</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="display:none">
        {{ form_start(form, {
            'action': path('app_admin_ville_create'),
            'method': 'POST',
            'attr': {
                'id': 'mon_formulaire'
            }
        }) }}
        {{ form_widget(form.name) }}
        <button type="submit" name="action" value="publish" class="btn btn-success">
            Publier
        </button>
        {{ form_end(form) }}
    </div>



    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-danger">
                        Confirmer la suppression
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <p>⚠️ Cette action est <strong>irréversible</strong>.</p>
                    <p>Voulez-vous vraiment supprimer cet élément ?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Annuler
                    </button>

                    <form method="post" id="deleteForm">
                        <input type="hidden" name="_token" id="deleteToken">
                        <button class="btn btn-danger">
                            Supprimer
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts%}
    <script>
        window.onload = function() {
            const deleteModal = document.getElementById('confirmDeleteModal');

            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;

                const url = button.getAttribute('data-url');
                const token = button.getAttribute('data-token');

                const form = deleteModal.querySelector('#deleteForm');
                const tokenInput = deleteModal.querySelector('#deleteToken');

                form.action = url;
                tokenInput.value = token;
            });

            document.getElementById('table-btn-submit').addEventListener('click', function () {
                let inputSource = document.getElementById('input-table-name');
                let inputTarget = document.getElementById(('ville_form_name'))
                inputTarget.value = inputSource.value

                let inputCpSource = document.getElementById('input-table-cp');
                let inputCpTarget = document.getElementById('ville_form_codePostal');
                inputCpTarget.value = inputCpSource.value

                document.getElementById('mon_formulaire').submit();

            })


        }

    </script>

{% endblock %}
