{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
        .topbar {
            text-align: right;
        }
        body {
            background-color: #fff;
            font-family: 'Segoe UI', Arial, sans-serif;
            padding: 20px;
        }
        body {
            font-family: 'Segoe UI', Arial, sans-serif;
        }

        #sortie_form {
            padding:10px;
        }
        #sortie_form > div {
            display:flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        form {
            text-align: center;
        }
        .btn {
            padding:10px;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Création d'une sortie</h1>
    <div style="margin-bottom: 40px">
        <a href="{{ path('app_admin') }}">Dashboard</a><span> / </span>
        <a href="{{ path('app_admin_sortie_list') }}">Sorties</a>
        <span> / </span>
        <a>Creation</a>
    </div>

    <div>
        <fieldset>
            <form method="post">
                {{ form_start(registrationForm) }}
                {{ form_widget(registrationForm) }}
                <button type="submit" class="btn">Créer</button>
                {{ form_end(registrationForm) }}
            </form>
        </fieldset>
    </div>
{% endblock %}