<header class="topbar">
    <div class="topbar__inner">
        <div class="brand">
            <div class="logo-box">
                <img src="{{ asset('img/logo.png') }}" alt="Sortir.com" style="width: 50px; height: auto;">
            </div>
            <div class="brand__name">Sortir.com</div>
        </div>

        <div class="topbar__right">
            <nav class="navlinks" aria-label="Navigation principale">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin') }}">Administration</a>
                {% endif %}
                <a href="{{ path('app_main') }}">Accueil</a> |
                <a href="{{ path('app_profile') }}">Mon profil</a>
                <nav>
                    {% if app.user %}
                        <span></span>
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </nav>

            </nav>

            <div class="user-info">
                <div>Date du jour : {{ "now"|date("d/m/Y") }}</div>
                <div>Bonjour {{ app.user.firstname }}</strong></div>
            </div>
        </div>
    </div>
</header>